modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]
publicDir = "dist/public"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_log_in_with_replit:1.0.0", "javascript_database:1.0.0", "javascript_stripe:1.0.0", "javascript_object_storage:1.0.0", "javascript_websocket:1.0.0", "javascript_openai:1.0.0", "twilio:1.0.0"]

[userenv]

[userenv.shared]
TOTP_ENCRYPTION_KEY = "fb1403145769587248024cffe982a0fc57e9dfc89e736612c306d0ff090f90ed"
ADMIN_PASSPHRASE_HASH = "9491647b2ef40b2bcc1e1cc8fc6d1f38:1c873cbe669c55a87a56a9fcdcfe361eb1b6b0522aea6ac05125bbdfbaa5fb23c4e777ebaa3d62a9dbcea1456ee736307603868bbb8957a6b6b508c16edae362"
